{% extends "layout.html" %}

{% block title %}departments{% endblock %}

{% block main %}
<div class="alert alert-info"> 部门机构： 
    {% if session.member_is_admin and session.member_is_admin == 1 %}    
        <a class="btn btn-primary" style="float:right;margin-top:-5px;" href="/department/add">添加部门</a>
    {% endif %}
</div>

<div class="well">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>
                    <a class="btn btn-mini btn-info edit" href="/department/edit-{{ department.id }}"><i class="icon-edit"></i>编辑</a>
                    <a class="btn btn-mini btn-danger ok" department_id="{{ department.id }}" title="{{ department.name }}"><i class="icon-warning-sign"></i>删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
    $(function(){
        $(".ok").click(function(){
            if (! confirm('Are you sure to delete' + $(this).attr('title') + '?')) {
                return false;
            }
            
            var id = $(this).attr('department_id');
            $.ajax({
                    url : "/department/del-" + id,
                    type : "post",
                    dataType : "json",
                    }).done(function(result){
                        if (result.code == 0) {
                            window.location.reload();
                        }
                    });
        });
    });
</script>
{% endblock %}
