{% extends "layout.html" %}

{% block title %}Edit User{% endblock %}

{% block main %}
<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Edit User</legend>
            <div id="user_edit_notice" style="display:none;" class="alert">
                <button data-dismiss="alert" class="close">x</button>
                <span id="user_edit_msg"> </span>
            </div>
        </fieldset>
        
        <div class="control-group">
            <label class="control-label" for="uid">UID:</label>
            <div class="controls">
                {{ user.id }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password:</label>
            <div class="controls">
                <input type="PASSWORD" name="password" id="password" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="realname">User RealName:</label>
            <div class="controls">
                <input type="text" name="realname" id="realname" value="{{ user.realname }}" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="phone">Phone:</label>
            <div class="controls">
                <input type="text" name="mobile" id="mobile" value="{{ user.mobile }}" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Email:</label>
            <div class="controls">
                <input type="text" name="email" id="email" value="{{ user.email }}" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="department">Department:</label>
            <div class="controls">
                <select id="department" name="department">
                    <option value="0">请选择部门</option>
                    {% for department in departments %}
                    <option value="{{ department.id }}" {% if user.department == department.id %} selected {% endif %}>{{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="position">Position:</label>
            <div class="controls">
                <select id="position" name="position">
                    {% if position %}
                    <option value="{{ position.id }}">{{ position.name }}</option>
                    {% else %}
                    <option value="0">请选择职位</option>
                    {% endif %}
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <input type="hidden" value="{{ user.id }}" name="id" id="id" />
                <button type="button" id="ok" class="btn btn-primary">Edit</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}

{% block footer_script %}
<script src="{{ url_for('static', filename='jquery.colorAnimations.js') }}"></script>
<script type="text/javascript">
    $(function(){
            $("#ok").click(function(){

                if ($("#realname").val() == "" || $("#realname").val() == "undefined") {
                    $("#realname").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor: "#FFFFFF" }, 1000);
                } else if (!$("#mobile").val().match(/^1[3|4|5|8][0-9]\d{8}$/)) {
                    $("#mobile").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor: "#FFFFFF" }, 1000);
                } else if (!$("#email").val().match(/^(\w+([-+.]\w+)*)+@(\w)+((\.\w{2,3}){1,2})$/)) {
                    $("#email").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor: "#FFFFFF" }, 1000);
                } else if (!$("#department").val() || $("#department").val() == 0) {
                    $("#department").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor: "#FFFFFF" }, 1000);
                } else if (!$("#position").val() || $("#position").val() == 0) {
                    $("#position").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor: "#FFFFFF" }, 1000);
                } else if ($("#password").val() && ($("#password").val().length < 6 || $("#password").val().length >20)) {
                    $("#password").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor: "#FFFFFF" }, 1000);    
                } else {
                    var realname = $("#realname").val();
                    var mobile = $("#mobile").val();
                    var email = $("#email").val();
                    var department = $("#department").val();
                    var position = $("#position").val();
                    var password = $("#password").val();
                    var id = $("#id").val();

                    $.ajax({
                        url : "/user/do_edit",
                        dataType : "json",
                        type : "post",
                        data : {'id' : id, 'realname' : realname, 'mobile' : mobile, 'email' : email, 'department' : department, 'position' : position, 'password' : password}
                    }).done(function(result){
                            $("#user_edit_msg").html(result.msg); 
                            $("#user_edit_notice").show();
                        });
                    
                }

            });
            
            $("#department").change(function() {
                var tmpObjSid = $('#position');
                tmpObjSid.empty();
                $('<option value="0">请选择职位</option>').appendTo(tmpObjSid);
                var did = $("#department").val();
                if (did != 0 && !isNaN(did)) {
                    $.ajax({
                            url : "/user/ajax_position",
                            dataType : "json",
                            type : "post",
                            data : {'did' : did}
                            }).done(function(result) {
                                    $.each(result, function(k,value) {
                                        var op = '<option value="' + value.id + '">' + value.name + '</option>';
                                        $(op).appendTo(tmpObjSid);
                                    });
                                });
                }

            });
    });
</script>
{% endblock %}
