{% extends "layout.html" %}

{% block main %}
<div class="alert alert-info"> 名人堂(排名不分先后)： 
    {% if session.member_is_admin and session.member_is_admin == 1 %}    
        <a class="btn btn-primary" style="float:right;margin-top:-5px;" href="/user/add">添加名人</a>
    {% endif %}
</div>

<div class="well">
    <table class="table table-bordered table-striped">
        <thead>
            <th>姓名</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>QQ</th>
            <th>职务</th>
            <th>部门</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% if myInfo.id == session.adeazmember_uid %}
                <tr>
                    <td>{{ myInfo.realname }}</td>
                    <td>{{ myInfo.mobile }}</td>
                    <td>{{ myInfo.email }}</td>
                    <td>{{ myInfo.qq }}</td>
                    <td>{{ myInfo.position }}</td>
                    <td>{{ myInfo.department }}</td>
                    <td>
                    {% if myInfo.status == 0 %}
                    <span class="label label-success">正常</span>
                    {% elif myInfo.status == 1 %}
                    <span class="label label-warning">停用</span>
                    {% endif %}
                    </td>
                    <td>
                    {% if session.adeazmember_uid == myInfo.id %}
                    <a class="btn btn-mini btn-info" href="/user/edit-{{ myInfo.id }}"><i class="icon-edit"></i>编辑</a>
                    {% endif %}
                    </td> 
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="well">
    <form class="navbar-form pull-left" action="" method="get">
        <input type="text" name="kw" id="kw" class="span2 large" placeholder="姓名/电话/邮箱 模糊搜索" style="width:200px" />
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>

<div class="well">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>姓名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>QQ</th>
                <th>职务</th>
                <th>部门</th>
                <th>状态</th>
                {% if session.member_is_admin and session.member_is_admin == 1 %}
                <th>操作</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.realname }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.qq }}</td>
                <td>{{ user.pname }}</td>
                <td>{{ user.dname }}</td>
                <td>
                    {% if user.status == 0 %}
                    <span class="label label-success">正常</span>
                    {% elif user.status == 1 %}
                    <span class="label label-warning">停用</span>
                    {% endif %}
                    {% if session.adeazmember_uid == user.id and (not session.member_is_admin or session.member_is_admin != 1) %}
                    <a class="btn btn-mini btn-info" href="/user/edit-{{ user.id }}"><i class="icon-edit"></i>编辑</a>
                    {% endif %}
                </td>
                {% if session.member_is_admin and session.member_is_admin == 1 %}
                <td>
                    <a class="btn btn-mini btn-info" href="/user/edit-{{ user.id }}"><i class="icon-edit"></i>编辑</a>
                    {% if not user.is_admin == 1 %}
                        {% if user.status == 1 %}
                        <a class="btn btn-mini btn-primary restore" user_id="{{ user.id }}" title="{{ user.realname }}"><i class="icon-warning-sign"></i>恢复</a>
                        {% else %}
                        <a class="btn btn-mini btn-danger del" user_id="{{ user.id }}" title="{{ user.realname }}"><i class="icon-warning-sign"></i>删除</a>
                        {% endif %}
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination_html(pagination, request.endpoint, query_string) }}
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
    $(".del").click(function(){
        if (! confirm('Are you sure to delete ' + $(this).attr('title') + '?')) {
            return false;
        }

        var id = $(this).attr('user_id');

        $.ajax({
            url : "/user/del-" + id,
            dataType : "json",
            type : "post"
            }).done(function(result) {
                    if (result.code == 0) {
                        window.location.reload();
                    }
                });

    });

    $(".restore").click(function() {
        if (! confirm('Are you sure to restore ' + $(this).attr('title') + '?')) {
            return fasle;
        }

        var id = $(this).attr('user_id');

        $.ajax({
            url : "/user/restore-" + id,
            dataType : "json",
            type : "post"
            }).done(function(result) {
                if (result.code == 0) {
                    window.location.reload();
                }
            });
    });
</script>
{% endblock %}

