{% extends "layout.html" %}

{% block title %}Sign In{% endblock %}

{% block main %}
<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Sign In</legend>
            <div id="login_notice" style="display:none;" class="alert">
                <button data-dismiss="alert" class="close">x</button>
                <span id="login_msg"> </span>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">UserName</label>
                <div class="controls">
                    <input type="text" name="username" id="username" />
                    <p>
                </div>

                <label class="control-label" for="passwd">PassWd</label>
                <div class="controls">
                    <input type="password" name="passwd" id="passwd" />
                    <p>
                </div>

                <label class="control-label" for="verify">Verify</label>
                <div class="controls">
                    <input type="text" style="width:130px;" name="verify" id="verify" />
                    <img src="/captcha" onclick="this.src='/captcha?' +
                    Math.floor(Math.random()*100+1)" title="看不清?点击换一张" style="width:80px;" />
                    <p>
                </div>

                <div class="controls">
                    <button type="button" id="login" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block footer_script %}
    <script src="{{ url_for('static', filename='jquery.colorAnimations.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.md5.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('#login').click(function(){
                if ($("#username").val() == "") {
                    $("#username").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor:"#FFFFFF" }, 1000);
                } else if ($("#passwd").val() == "") {
                    $("#passwd").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor:"#FFFFFF" }, 1000);
                } else if ($("#verify").val() == "") {
                    $("#verify").animate({ backgroundColor: "#FFB5B5" }, 500)
                            .animate({ backgroundColor:"#FFFFFF" }, 1000);
                } else {
                    var username = $("#username").val();
                    var password = $.md5($("#passwd").val());
                    var verify = $("#verify").val();

                    $.ajax({
                            url : "/do_login",
                            dataType : "json",
                            type : "post",
                            data : { 'username' : username, 'password' : password, 'verify' : verify }
                        }).done(function(result){
                                if (result.code != 0) {
                                    $("#login_msg").html(result.msg);
                                    $("#login_notice").show();
                                } else {
                                    window.location.href='/';
                                }
                            });
                }
            });
        });
    </script>
{% endblock %}
